<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="<%= picture %>" alt="<%= title %>" />
    <h4>Описание: <%= desc %></h4>
  </body>
</html>